#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, #bedbd7 0, #add4d2 10%, #9acccd 20%, #84c3c8 30%, #6bbac4 40%, #4dafc1 50%, #21a4bf 60%, #009abd 70%, #0090bc 80%, #0087bc 90%, #007ebc 100%);
}

#containerPrincipal{
  flex-grow: 1;
}
#formDatos{
  background-color: #add4d2;
  padding: 20px;
  margin-top: 20px;
}
#btnEnviar{
  width: 50px;
}
#fondoCard{
  background-color: #4dafc1;
}